/* Docs Showcase */

.docs-show{
    background: var(--primary);
    padding: 40px 0;
}

.docs-show h1{
    font-size: 4rem;
    font-weight: 100;
}

.docs-show p{
    font-size: 20px;
    padding-top: 20px;
    color: white;
}

.docs-show i{
    font-size: 12rem;
}

.docs-show-box:nth-child(2){
    justify-self: flex-end;
}

/* Docs Main */

.docs-main{
    padding: 50px 0;
}

.docs-card{
    background: var(--secondary);
    color: var(--third);
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.4);
    padding: 20px;
    padding-right: 100px;
    padding-left: 30px;
    margin: 10px;
    justify-self: flex-start;
}

.grid-2{
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100%;
    align-items: center;
    align-items: flex-start;
}

.docs-card h3{
    color: #333;
    font-weight: 100;
    padding: 25px 0;
    margin: auto;
}

.docs-card ul{
    list-style: none;
}

.docs-card li{
    padding: 4px 0;
}

.docs-card a{
    color: #333;
    text-decoration: none;
}

.docs-card h2{
    color: #555;
    font-weight: 100;
    padding: 20px 0;
}

.docs-card p{
    color: #555;
    font-weight: 100;
    padding: 10px 0;
}

.docs-card .alert{
    color: white;
    background: rgba(0, 128, 0, 0.623);
    padding: 15px 0;
}

.docs-card .alert i{
    padding: 0 10px;
}

.docs-card .btn-docs{
    display: inline-block;
    background: var(--primary);
    padding: 15px 30px;
    border-radius: 5px;
    color: var(--secondary);
    text-align: center;
    text-decoration: none;
}

.docs-card .btn-docs:hover{
    transform: scale(0.98);
}

.docs-card pre{
    background: #333;
    color: white;
    padding: 10px 15px;
}